<head>
    <title>Random Dilbert Comic</title>
</head>
<h1>Random Dilbert</h1>
<h2><%=@comic_hash['title']%></h2>
<img src="<%=@comic_hash['img']%>"/>
<br/>
<br/>
<p>Date: <%=@comic_hash['date']%></p>
<p>Dilbert Link: <%=@comic_hash['link']%></p>
<button style="background-color: #008CBA;border: none;text-align: center;font-size: 16px;border-radius: 8px;" onclick="newComic()">Give Me Another One!</button>

<p>Current Time: <%=Time.now%></p>

<script>
function newComic() {
    location.reload();
}
</script>